body {
    background: black;
}

.design-container {
    background: hsla(0, 0%, 100%, 0.75);
    padding: 20px 100px;
    margin-top: 80px;
    width: 50%;
    margin-left: 230px;
}

.first-container {
    background: hsl(31, 77%, 52%);
    padding: 20px 40px;
}

.second-container {
    background: hsl(184, 100%, 22%);
    padding: 20px 40px;
}

.third-container {
    background: hsl(179, 100%, 13%);
    padding: 20px 40px;
}

.first-container h1 {
    color: #ffffff;
    font-family: 'Big Shoulders Display', cursive;
}

.second-container h1 {
    color: #ffffff;
    font-family: 'Big Shoulders Display', cursive;
}

.third-container h1 {
    color: #ffffff;
    font-family: 'Big Shoulders Display', cursive;
}

.btn,
.btn2,
.btn3 {
    border-radius: 24px;
    border: 0;
    padding: 13px 20px;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    margin-bottom: 30px;
}

.btn {
    color: hsl(31, 77%, 52%);
}

.btn2 {
    color: hsl(184, 100%, 22%);
}

.btn3 {
    color: hsl(179, 100%, 13%);
}

.first-container p {
    color: #ffffff;
    font-size: 14px;
    font-family: 'Lexend Deca', sans-serif;
    margin-bottom: 60px;
    /* line-height: 25px; */
}

.second-container p {
    color: #ffffff;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    margin-bottom: 60px;
    /* line-height: 25px; */
}

.third-container p {
    color: #ffffff;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    margin-bottom: 60px;
    /* line-height: 25px; */
}

.container {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.grid {
    color: white;
    background: hsl(184, 100%, 22%);
    border-radius: 24px;
    border: 0;
    padding: 13px 30px;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;
}